
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3 class="welcome_user">
        Hi <%= current_user.username %>!
      </h3>
    </div>
  </div>
  <%= render 'cuppa' %>
  <%= render 'requests' %>
</div>




