
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h3 class="welcome_user">
        Hi <%= current_user.username %>!
      </h3>
    </div>
  </div>
  <%= render 'cuppa' %>

  <div class="arrow-position">
  <a href="#friend"><%= image_tag("http://res.cloudinary.com/dvj9whqch/image/upload/v1467189376/arrow_mmr72e.png") %></a>
  </div>

  <%= render 'requests' %>
</div>




