
<h2>
  Hello, <br> <%= @user.username %>!
</h2>
<br>
<br>
<p>
  You have a Cuppa match!<br>
  Check the <%= link_to "details of your coffee date", dashboard_cup_url(@cup) %>.
  <br>
  <br>
  Cheers!
  <br>
  Cuppa
</p>
<%= image_tag 'logo.png' %>


