<h2>
  Hello, <br> <%= @user.username %>!
</h2>
  <br>
  <br>
 <p>
  You have a cuppa match!<br>
  Check the <%= link_to "detail of your coffee date", dashboard_cup_url(@cup) %>
  <br>
  <br>
 </p>

<%= image_tag 'logo.png' %>

