<p>
  Hello! <%= @user.username %>
  <br>
  <br>
  We are sorry to notify you that
  one of your cuppa match got canceled! :( <br>
  Want to set a new <%= link_to "cuppa?", new_dashboard_pot_url(@user) %>
  <br>
  <br>
  regards,<br>
  Cuppa
</p>
