<p>
  Hello! <%= @user.username %>
  <br>
  <br>
  <%= @friend.username %> just confirm your friend request! <br>
  Now set up a <%= link_to "surprise coffee date!", dashboard_path(@user) %>
  <br>
  <br>
  regards,
  Cuppa
</p>
