<p>
  Hello! <%= @friend.username %>
  <br>
  <%= @user.username %> sent you a friend request!
  Answer the request on your <%= link_to "dashboard", dashboard_url(@friend) %>
  <br>
  <br>
  regards,
  Cuppa
</p>
