<p>
  Hello! <%= @user.username %>
  <br>
  <br>
  Thanks for registrating cuppa!<br>
  Please confirm your email <%= link_to "here", user_confirmation_url(@user) %>
  <br>
  <br>
  regards,
  Cuppa
</p>
