<p>
  Hello! <%= @user.username %>
  <br>
  <br>
  Thanks for signing up for Cuppa!
  <br>
  Now <%= link_to "Add friend", new_friend_url(@user) %> and set a surprise coffee date!
  <br>
  <br>
  regards, <br>
  Cuppa
</p>

