.yourcup {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 500px;
  border-radius: 10px;
  padding: 30px 30px;
  margin: 30px 30px;
}

body.dashboard\/cups-show {
  background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dvcylwwvz/image/upload/v1466681002/photo-1464979681340-bdd28a61699e_mqeiuo.jpg') fixed;
  background-size: cover !important;
}
