.yourcup {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 450px;
  border-radius: 10px;
  padding: 30px 30px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.85;
}

body.dashboard\/cups-show {
  background: url('http://res.cloudinary.com/dvj9whqch/image/upload/v1467030184/cupshow_vvgygm.png');
  background-size: cover !important;
}

#cup-page-title {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -60px;
}

.cup {
  color: white;
}
