.white-container {
  background-color: white;
  border-radius: 5px;
  color: #3C2010;
  padding: 1px 16px 16px 16px;
}

h3 {
  color: #613720;
}

.location-text {
  text-align: center;
  color: #613720;
}
<<<<<<< Updated upstream


=======
>>>>>>> Stashed changes
