.scroll-to-friend {
position: absolute;
right: 40px;
bottom: 20px;
}

.cuppa-wrapper {
  position: relative;
  height: 100vh;
}

.white-container {
  background-color: white;
  border-radius: 5px;
  color: #000000;
  padding: 1px 16px 16px 16px;
  border: 4px solid;
}

.welcome_user {
  margin: 10px;
  color: white;
}

h3 {
  color: #1F201B;
}

body.dashboard-show{
  background-image: url("http://res.cloudinary.com/dvj9whqch/image/upload/v1467107441/dashboard_ac5vvg.png");
  background-size: cover !important;
  background-repeat: no-repeat;
}

// .dashboard-bg {
//   background-image: url("http://res.cloudinary.com/dvj9whqch/image/upload/v1467035117/dashboardbg_buzstj.png");
//   background-size: cover !important;
// }

.img-margin-left {
  margin-left: 79px;
}

.location-text {
  text-align: center;
  color: white;
}

.white-card {
  width: 340px;
  background-color: white;
  border: 4px solid;
  padding: 20px;
  border-color: #1F201B;
  border-radius: 5px;
  margin-top: -8px;
}
.pending-cuppa {
  position: relative;
}

.divider {
  margin-top: 20px;
}

.divider-bottom {
  margin-bottom: 0px;
}

.cuppa-date {
  position: relative;
}

.cancel-account-button {
  background-color: #D8D6D6;
  border: none;
  border-radius: 3px;
  padding: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

.cancel-button {
  position: absolute;
  right: 20px;
  bottom: 0px;
  background-color: #D8D6D6;
  border: none;
  border-radius: 3px;
  padding: 2px;
  padding-left: 2px;
  padding-right: 2px;
}

.cancel-button:hover {
  background-color: #EDEDED;
}



.margin-top {
  margin-top: -5px;
}

#cuppa-dashboard {
  height: 100vh;
  width: 100vw;
}

#friend-list {
  padding: 15px;
  height: 50vh;
  margin-top: 500px;

}

.arrow-position {
  position: relative;
  margin-top: -500px;
}

.aligh-button {
  top: -10px;
}


.cup-img-width {
  width: 188px;
}

.padding-left {
  padding-left: 70px;
}

