/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 .background-color{
  background-color: #AFD2FF;
  min-height: 1400px;
  color: #613720;
}

.cuppa-home {
  text-align: center;
  width: 500px;
}

.top {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.how {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.facts {
  background: url(http://res.cloudinary.com/dvcylwwvz/image/upload/v1466595532/coffeefacts_aoliyx.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center;
}
// body {
//   height: 100%;
//   width: 100%;
//   background-color: #0B1A21;
//   -webkit-animation: colors 6s linear normal infinite;
//   animation: colors 6s linear normal infinite;
// }


