body.dashboard\/pots-new {
  background-image: url("http://res.cloudinary.com/dvj9whqch/image/upload/v1467041538/homegb_rkjnhh.png");
}


///////////////////* First Page */
.create {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#scroll-to-friends {
  position: absolute;
  right: 50%;
  top: 270px;
}

#scroll-to-location {
  position: absolute;
  right: 50%;
  bottom: -900px;
}

#scroll-to-time {
  position: absolute;
  right: 50%;
  bottom: 15px;
}

.time-select-wrapper {
  display: flex;
}

///// No friends info
.no-friends-card {
  display: flex;
  background-color: white;
  width: 450px;
  height: 250px;
  padding: 20px 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.no_friends {
  width: 100vw;
  height: 40vh;
}

.add-friends {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

////////////////* Select Friends*/
#beans {
  width: 100vw;
  height: 100vh;
}

#button-blue {
margin-left: auto;
margin-right: auto;
}

#toggleAll a:focus {
text-color: white;
}

.friend-select {
  margin-top: 100px;
}

.image_picker_image {
  border-radius: 100%;
}

#friends-select {
  text-align: center;
}

.thumbnail.selected{
 border-radius: 50%;
 width: 100px;
 height: 100px;
 background-color: none;
 box-shadow: 0px 0px 0px 5px #613720;
 background: url("http://unsplash.it/500/500");
}

ul.thumbnails.image_picker_selector li {
  margin: 20px 12px 12px 50px;
  .thumbnail{
   border: none;
   width: 100px;
   height: 100px;
   overflow: hidden;
   background: none !important;
   border-radius: 50%;
   padding: 0px;
   margin: 10px;
 }
}

.thumbnail > img, .thumbnail a > img {
   width: 100px;
   height: 100px;
 }


ul.thumbnails.image_picker_selector li .thumbnail.selected {
    background: #613720;
}

///////////////////* Select Location*/
#when {
  width: 100vw;
  height: 100vh;
  text-align: center;
}

#location-select {
  text-align: center;
  margin-top: 20px;
}

//////////////////* Select Date/Time */
#where {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#time-select {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 350px;
}

#pot_datestring {
 margin-right: auto;
 margin-left: auto;
 width: 20%;
}

.almost_ready {
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}

.wrapper-white {
  background-color: white;
  position: relative;
}

.map-title {
  margin-bottom: 30px;
}



