<div class="container yourcup">
  <div class="row">
    <div class="col-xs-12">
      <h1> Let's have a CUPPA coffee!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
    <h3></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
    <h3></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
    <h3></h3>
    </div>
  </div>
</div>
