<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <ul class="list-inline">
          <li><a href="https://www.facebook.com/cuppapp"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.twitter.com/cuppapp"><i class="fa fa-twitter"></i></a></li>
          <li class= "mail"><a href="mailto:info@cuppa.com?subject="><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
        </ul>
      </div>
      <div class="col-xs-6 text-right">
        <ul class="list-inline">
          <li><p class="footer-p">©cuppa</p></li>
        </ul>
      </div>
    </div>
  </div>
</div>
