<div class="friendship-title">
	<h3>
		Your Bean Friends
	</h3>
	<br> 
	<br>
</div>
<div class="container">
	<div class="row">
		<% @friends.each do |friend| %>
		<div class="col-offset-xs-2 col-xs-10 col-offset-sm-2 col-sm-5  col-offset-md-3 col-md-4" id="friend">
			<%= image_tag friend.photo, class: "friend-photo" %> 
			<%= form_tag friend_path(friend), data: {confirm: "Are you sure?"},  method: :delete do %>
			<%= friend.username %>
			<%= submit_tag("delete")%>
			<% end %>
		</div>
		<% end %>
		
	</div>
</div>

