<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h1 class="friendship-title">
        Add your friend!
      </h1>
    </div>
    <div class="col-xs-4 col-xs-offset-4">
      <%= form_tag(friends_path, class: "friendship-form") do %>

      <%= email_field(:user, :address, class: "friendship-email", placeholder: "  your_friends_email@here.com") %>
      <%= submit_tag "Add", class: "button-blue button-blue-side-margin" %>
      <% end %>
    </div>
  </div>
  <br>

  <div class="bean-wrapper">
    <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1467032314/beanbw_i6lu5e.png" id="bean" class="bean-size">


    <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1467032314/beanbw_i6lu5e.png" id="bean" class="bean-size">



    <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1467032314/beanbw_i6lu5e.png" id="bean" class="bean-size">
  </div>
</div>

