
<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4">
      <h1 class="friendship-title">
        Add your friend!
      </h1>
    </div>
    <div class="col-xs-4 col-xs-offset-4">
      <%= form_tag(friends_path, class: "friendship-form") do %>

      <%= email_field(:user, :address, class: "friendship-email", placeholder: "your_friends_email@here.com") %>
      <%= submit_tag "Add", class: "button-blue button-blue-side-margin" %>

      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="hero" style="max-height: 700px; padding: 40px; margin: 0px auto; text-align: center;" >
      <svg width="80" height="60" viewBox="5 0 80 60">
        <path class="wave" fill="none" stroke="#F4EED8" stroke-width="4" stroke-linecap="round" d="M 0 37.5 c 7.684299348848887 0 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15 s 7.172012725592294 15 15 15 s 7.172012725592294 -15 15 -15" $="1$=010.0" />
      </svg>

    </div>
  </div>

</div>


