<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 cuppa-home">
      <h1>
        Cuppa!
      </h1>
      <p>
        Cup of cofee with your friend!
      </p>
    </div>
  </div>
  <div class="row">


    <div id="container">
      <div id="mug"></div>
      <div id="handle"></div>
      <div class="shadow"></div>
    </div>
    <div class="rotater"><span>\<span>\<span>\<span>\<span>\<span>\<span>\<span>\<span>\<span>\<span>\<span>\<span>\<span>\<span>\</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></div>


  </div>
</div>



