<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 cuppa-home" id="top">
      <h1>
        Cuppa!
      </h1>
      <p>
        Cup of cofee with your friend!
      </p>
    </div>
  </div>
  <div class="row">
    <div id="container">
      <div id="mug"></div>
      <div id="handle"></div>
      <div class="shadow"></div>
    </div>
    <div class="rotater"><span class="span-home">\<span class="span-home">\<span class="span-home">\<span class="span-home">\<span class="span-home">\<span class="span-home">\<span class="span-home">\<span class="span-home">\<span class="span-home">\<span class="span-home">\<span class="span-home">\<span class="span-home">\<span class="span-home">\<span class="span-home">\<span class="span-home">\</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-4 cuppa-home" id="how">
      <h1>
        How it works
      </h1>
      <p>
        Invite your friends to join you on Cuppa and create your own customized coffee pots. <br><br> Cuppa will check if there is a matching pot and randomly invites you and your friend on a coffee date! <br><br> You'll meet your friend on a date, time and location you both like and finally have that cuppa' coffee together!
      </p>
    </div>
  </div>
</div>




