<div class="wrapper top" id="top">

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="cuppa-home">
         <h1>
          CUPPA
        </h1>
        <br>
        <p>
          Never miss another cuppa coffee!
        </p>


      </div>
    </div>

    <div class="col-xs-12">

      <div id="content">
        <div id="kick_jump">
          <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1467032314/beanbw_i6lu5e.png" alt="">
        </div>

        <div id="board">

          <div id="box1">
            <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1467032754/cupup_keniwj.png" id="box_o_t" alt="">
            <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1467032754/cupup_keniwj.png" id="box_o_b" alt="">
          </div>
          <div id="box2">
            <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1467032754/cupup_keniwj.png" id="box_o_t" alt="">
            <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1467032754/cupup_keniwj.png" id="box_o_b" alt="">
          </div>
          <div id="box3">
            <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1467032754/cupup_keniwj.png" id="box_o_t" alt="">
            <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1467032754/cupup_keniwj.png" id="box_o_b" alt="">

            <br><br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="wrapper how" id="how">
  <div class="container cuppa-home">
    <div class="row">
      <div class="col-xs-12">
        <h1>
          How it works
        </h1>
        <br>
        <p>
          Invite your friends to join you on Cuppa and create your own customized coffee pots. Cuppa will check if there is a matching pot and randomly invites you and your friend on a coffee date! You'll meet your friend on a date, time and location you both like and finally have that <br> cuppa' coffee together!
        </p>
      </div>
    </div>
  </div>
</div>

<br>
<br>

<div class="how-icon-margin">
  <div class="container">
    <div class="row">
     <div class="col-xs-12 col-sm-4">
       <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1467115854/time-white_edafrf.png">
       <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1466683670/filter_ncpxki.png">
       <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1467032314/beanbw_i6lu5e.png">
       <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1467032754/cupup_keniwj.png">
     </div>

     <div class="col-xs-12 col-sm-4">
       <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1467117505/randomal_prmtxl.png">
     </div>

     <div class="col-xs-12 col-sm-4">
       <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1467125171/home-how-match_pp77ji.png">
     </div>
   </div>
 </div>
</div>



<div class="bg-facts">
  <div class="wrapper facts" id="facts">
    <div class="card">
      <div class="card-content">
        <h3> Did you know? </h3>
        <br>
        <p id="message"> "If you yelled for 8 years, 7 months and 6 days, you would have produced enough energy to heat one cup of coffee." </p>
      </div>
    </div>
    <input type="button" class="btn button-blue" id="btnSearch" value="Random Coffee Fact" onclick="GetValue();" />
  </div>
</div>




