<div class="wrapper top" id="top">
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="cuppa-home">
             <h1>
        Cuppa!
      </h1>
      <p>
        Cup of cofee with your friend!
      </p>
      <div class="scroll">
        <section id="scroll" class="demo">
          <a href="#how"><span></span></a>
        </section>
      </div>
      </div>
    </div>

    <div class="col-xs-12">

      <div id="content">
        <div id="kick_jump">
          <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1466598929/bean_fbh78s.png" alt="">
        </div>

        <div id="board">

          <div id="box1">
            <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1466599392/cupup_nywo7t.png" id="box_o_t" alt="">
            <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1466599392/cupup_nywo7t.png" id="box_o_b" alt="">
          </div>
          <div id="box2">
            <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1466599392/cupup_nywo7t.png" id="box_o_t" alt="">
            <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1466599392/cupup_nywo7t.png" id="box_o_b" alt="">
          </div>
          <div id="box3">
            <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1466599392/cupup_nywo7t.png" id="box_o_t" alt="">
            <img src="http://res.cloudinary.com/dvj9whqch/image/upload/v1466599392/cupup_nywo7t.png" id="box_o_b" alt="">

<br><br>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>

<div class="wrapper how" id="how">
  <div class="container cuppa-home">
    <div class="row">
      <div class="col-xs-12">
        <h1>
          How it works
        </h1>
        <p>
          Invite your friends to join you on Cuppa and create your own customized coffee pots. Cuppa will check if there is a matching pot and randomly invites you and your friend on a coffee date! You'll meet your friend on a date, time and location you both like and finally have that cuppa' coffee together!
        </p>
        <div class="scroll">
          <section id="scroll" class="demo">
            <a href="#facts"><span>
            </span></a>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="wrapper facts" id="facts">
  <div class="container cuppa-home">
    <div class="row">
      <div class="col-xs-12">
        <div class="card">
          <div class="card-content">
            <h3> Did you know? </h3>
            <p style="font-style: italic;" id="message"> "If you yelled for 8 years, 7 months and 6 days, you would have produced enough energy to heat one cup of coffee." </p>
          </div>
        </div>
        <input type="button" class="btn button-blue" id="btnSearch" value="Random Coffee Fact" onclick="GetValue();" />
      </div>
    </div>
  </div>
</div>



