<p>
  Hello! <%= @email %>
  <br>
  <br>
  Thanks for signing up for Cuppa!
  <br>
  To confirm your registration click the URL below.
  <br>
 <%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %>
  <br>
  <br>
  regards, <br>
  Cuppa
</p>
