<p>
  Hello! <%= @email %>
  <br>
  <br>
  Thanks for signing up for Cuppa!
  <br>
  To confirm your registration please click the URL below.
  <br>
  <br>
 <%= link_to 'Confirm my account', user_confirmation_url(confirmation_token: @token) %>
  <br>
  <br>
  regards, <br>
  Cuppa
</p>
