
  <h2>Hello! <%= @user.username %></h2>
  <br>
  <p>
  <%= @friend.username %> just confirmed your friend request! <br>
  Now set up a <%= link_to "random coffee date!", dashboard_url(@user) %>
  <br>
  <br>
  Cheers,
  <br>
  Cuppa
</p>
<%= image_tag 'logo.png' %>