<p>
  Hello! <%= @invitee_email %>
  <br>
  <%= @user.username %> sent you a friend request!
  Join cuppa now <%= link_to "here", root_url %> and have a coffee date with <%= @user.username %>
  <br>
  <br>
  regards,
  <br>
  Cuppa
</p>
