
  <h2>Hello,<%= @friend.username %>!</h2>
  <br>
  <p>
  <%= @user.username %> sent you a friend request!
  Answer the request on your <%= link_to "dashboard", dashboard_url %>.
  <br>
  <br>
  Cheers,
  <br>
  Cuppa
</p>
<%= image_tag 'logo.png' %>
